:root {
  --light-bg: #f4f5f7;
  --dark-bg: #181818;
  --light-text: #000;
  --dark-text: #fff;
  --light-sidebar-bg: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  --light-component: #fff;
  --dark-component: #292a2d;
  --dark-medium-component: #3e3f42;
  --white: #fff;
  --black: #000;
  --primary-color: #7e8084;
  --second-color: #d8d9da;
  --dark-hover: #242528;
  --light-hover: #c2c3c4;
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: var(--background-color);
}
body.light {
  --background-color: var(--light-bg);
  --text-color: var(--light-text);
}
body.dark {
  --background-color: var(--dark-bg);
  --text-color: var(--light-text);
}
